.stream_panel {
    padding: 10px;
 
    width: 400px;
    margin:10px 10px 10px 10px;
    border:solid 1px black;
    color:black;
    box-shadow:10px 10px 10px rgba(0,0,0,0.6);
    background-color:white;
    word-wrap:break-word;
}
a{
    text-decoration: none
}
.stream_panel a {
    color: black;
}

.stream_panel:hover{
    background-color:yellow;
}

.stream_character_icon {
    padding: 5px;
}
.stream_panel_info_title{
    font-weight:bold;
}
.stream_panel_info_main{
    display: flex;
    flex-direction: column;
}

.stream_panel_info_main_category{
    margin:0px 0px 0px 0px;
}
.stream_panel_info_evaluation{
    display:flex;
    flex-direction: row;
}

.stream_panel_info_evaluation_views{
    margin:0px 0px 0px 0px;
}
.stream_panel_info_evaluation_good{
    margin:0px 0px 0px 30px;
}

.stream_panel_info_evaluation_bad{
    margin:0px 0px 0px 30px;
}
.stream_character_icon_img {
    height: 80px;
    width: 80px;

}

.stream_panel_info {
    margin:0px 0px 0px 20px;
}

.stream_subinfo {
    float: left;
}

.stream_thumbnail_img{
    width:400px;
    height:250px;
}