<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'top/css/password_reset_confirm.css' %}"/>
    <title>
        プロフィール編集ページ
    </title>
</head>
<header class="header">
    {% include 'top/site_header.html' %}

</header>
<body>

<div class="wrapper">
    <main class="main">
        <h1>パスワード再発行</h1>
        パスワードを再度登録してください。
        <form action="" method="POST">
            {% csrf_token %}


            <div class="form_item">
                <div class="form_item_label">
                    パスワード
                </div>
                <div class="form_item_form">
                    {{form.new_password1}}
                    {{form.new_password1.errors}}
                </div>
            </div>

            <div class="form_item">
                <div class="form_item_label">
                    パスワード（確認用）
                </div>
                <div class="form_item_form">
                    {{form.new_password2}}
                    {{form.new_password2.errors}}
                </div>
            </div>


            <input type="submit" value="再登録">

        </form>
    </main>
</div>
</body>
</html>