<!DOCTYPE html>
{% load static %}
<html>
<head>
    {% include 'top/google_analytics_tag.html'%}
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'top/css/password_change_form.css' %}"/>
    <title>
        パスワード変更フォーム
    </title>
</head>
<header class="header">
    {% include 'top/site_header.html' %}
    {% include 'top/account_manager_header.html' %}

</header>
<body>

<div class="wrapper">
    <main class="main">
        <h1>パスワード変更</h1>
        <form action="" method="POST">
            {% csrf_token %}


            <div class="error_message">
                {{ form.errors.old_password }}
                {{ form.errors.new_password1 }}
                {{ form.errors.new_password2 }}
            </div>

            <table class="password_table">
                <tr>
                    <th>現在のパスワード</th>
                    <td>: {{ form.old_password }}</td>
                </tr>
                <tr>
                    <th>新しいパスワード</th>
                    <td>: {{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <th>新しいパスワード（確認）</th>
                    <td>: {{ form.new_password2 }}</td>
                </tr>
            </table>


            <input type="submit">


        </form>
    </main>


</div>
</body>
</html>