<!DOCTYPE html>
{% load static %}
<html>
<head>
    {% include 'top/google_analytics_tag.html'%}
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'top/css/password_change_done.css' %}"/>
    <title>
        パスワード変更完了
    </title>
</head>
<header class="header">
    {% include 'top/site_header.html' %}
    {% include 'top/account_manager_header.html' %}
</header>
<body>

<div class="wrapper">
    <main class="main">
        パスワードは正常に変更されました。
    </main>


</div>
</body>
</html>