    <div class="account_manager_header">
        <ul class="account_manager_menu">
           <li class="account_manager_logo"> <a href="{% url 'top:account_manager' %}">アカウントマネージャー</a></li>
            <li class="account_manager_menu_item"><a href="{% url 'top:profile' %}">プロフィール編集</a></li>
            <li class="account_manager_menu_item"><a href="{% url 'top:change_email' %}">e-mail変更</a></li>
            <li class="account_manager_menu_item"><a href="{% url 'password_change' %}">パスワード変更</a></li>
            <li class="account_manager_menu_item"><a href="{% url 'top:delete_account' %}">アカウント削除</a></li>
        </ul>
    </div>
