    <div class="account_manager_header">
        <ul class="account_manager_menu">
           <li class="account_manager_logo"> <a href="{% url 'top:account_manager' %}" target="_self">アカウントマネージャー</a></li>
            <li class="account_manager_menu_item"><a href="{% url 'top:profile' %}" target="_self">プロフィール編集</a></li>
            <li class="account_manager_menu_item"><a href="{% url 'top:change_email' %}" target="_self">e-mail変更</a></li>
            <li class="account_manager_menu_item"><a href="{% url 'password_change' %}" target="_self">パスワード変更</a></li>
            <li class="account_manager_menu_item"><a href="{% url 'top:delete_account' %}" target="_self">アカウント削除</a></li>
        </ul>
    </div>
