<!DOCTYPE html>
{% load static %}
<html>
<head>
    <script data-ad-client="ca-pub-7596622095136507" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'top/css/index.css' %}"/>
    <title>
        プロフィール編集ページ
    </title>
</head>
<header class="header">
    {% include 'top/site_header.html' %}
</header>
<body>

<div class="wrapper">
    アカウントを削除しました。ご利用ありがとうございました。

</div>
</body>
</html>