<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'top/css/delete_account.css' %}"/>
    <title>
        プロフィール編集ページ
    </title>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="{% static 'top/js/delete_user.js' %}"></script>
</head>
<header class="header">
    {% include 'top/site_header.html' %}
    {% include 'top/account_manager_header.html' %}

</header>
<body>

<div class="wrapper">
    <h1>アカウント削除</h1>
    本当にアカウントを削除しますか？<br>
    この操作は取り消すことができません。<br>
    <form action="" name="delete_account_form"method="POST">
        {% csrf_token %}
        <button name="delete_account_button" type="button">削除します</button>
    </form>

</div>
</body>
</html>