{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'top/google_analytics_tag.html'%}
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'top/css/how_to_register.css' %}"/>
    <title>
        アカウントの登録方法
    </title>
</head>

<body>
<header class="header">
    {% include 'top/site_header.html' %}
</header>
<div class="wrapper">
    <main class="main">
        <div class="page_title_field">
            アカウントの登録方法
        </div>
        <div class="page_introduction_field">
            <div class="page_introduction_field_section">
                <div class="page_introduction_field_section_label">
                    １．画面右上の新規登録リンクを押し、新規登録ページに移動する。
                </div>
                <div class="page_introduction_field_section_content">
                    <img src="{% static 'top/image/guide_top.png' %}" width="900"><br>


                </div>
            </div>
        </div>

        <div class="page_introduction_field">
            <div class="page_introduction_field_section">
                <div class="page_introduction_field_section_label">
                    2．アカウント新規登録画面で、任意のユーザー名、Eメールアドレス、パスワードを入力する。
                </div>
                <div class="page_introduction_field_section_content">
                    <img src="{% static 'top/image/registration.png' %}" width="900">
                    <br>
                    各種項目を登録してください。<br>
                    Eメールアドレスは、パスワードを忘れた時に、パスワードの再設定のためのメールが届きます。<br>
                    他にも今後ご連絡などがある際にサイトより連絡が届く可能性があります。<br>
                    <br>
                    こちらの登録を行うと、アカウントが作成され、自動でログインします。<br>
                    <br>
                </div>
            </div>
        </div>
        <div class="page_introduction_field">
            <div class="page_introduction_field_section">
                <div class="page_introduction_field_section_label">
                    3．プロフィールの初期設定を行います。
                </div>
                <div class="page_introduction_field_section_content">
                    <img src="{% static 'top/image/initialize_profile.png' %}" width="900"><br>

                    上記の設定を行うと、プロフィール設定完了画面に切り替わった後に自動で、TEKKEN MANIAXのトップページに移動します。<br>
                    この項目はあとから変更することが可能です。<br>
                    これで登録は完了です。<br>
                </div>


        </div>
    </main>

</div>
<footer>
    {% include 'top/footer.html' %}
</footer>
</body>
</html>
            </div>