{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163168954-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-163168954-1');
    </script>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'top/css/notation.css' %}"/>
    <title>
        サイト利用上の注意
    </title>
</head>

<body>
<header class="header">
    {% include 'top/site_header.html' %}
</header>
<div class="wrapper">
    <main class="main">
        <div class="page_title_field">
            サイト利用上の注意
        </div>
        <div class="page_introduction_field">
            <div class="page_introduction_field_section">
                <div class="title_of_contents_label">
                    免責事項
                </div>
                <div class="title_of_contents_contents">
                    当ウェブサイトの掲載内容につきましては細心の注意を払っておりますが、<br/>
                    提供しております情報に不正確な記載や誤植等が含まれている可能性があり、正確性、有用性、確実性について一切保証するものではございません。<br/>
                    またコンテンツ TEKKEN GUIDEにおいて、ユーザーが投稿したガイドの内容については、<br/>
                    投稿記事の性質上、発信者の個人の主観が含まれることもあり、その内容の安全性、および正確性を保証するものではありません。<br/>
                </div>
            </div>
            <div class="title_of_contents_label">
                個人情報の取得、利用について
            </div>
            <div class="title_of_contents_contents">
                当サイトではアカウントの登録の際にユーザー名、メールアドレスをご登録頂く必要があります。<br/>
                収集した個人情報について、ユーザー本人の許可なく第三者に開示するようなことはありません。<br/>
                また、法律の適用を受ける場合や、法的強制力のある請求以外には、いかなる個人情報も開示しません。<br/>
            </div>
            <div>

            </div>
            <!--項目増やすとき用
            <div class="title_of_contents_label">

            </div>
            <div class="title_of_contents_contents">

            </div>
            -->
        </div>

    </main>

</div>
<footer>
    {% include 'top/footer.html' %}
</footer>
</body>
</html>