<!DOCTYPE html>
{% load static %}
<html>

<head>
    {% include 'top/google_analytics_tag.html'%}

    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'stream/css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'stream/css/stream_panel.css' %}" />
    <title>
        Tekken streams チャンネル一覧
    </title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<header class="header">
    {% include 'top/site_header.html' %}
    {% include 'stream/stream_header.html' %}

</header>

<body>
    <div class="wrapper">
        <main class="main">

            <div class="stream_channels_title">
                現在のLive配信
            </div>

            <div id="list_stream">

                <div class="stream_channels_sort_form">
                    <select class ="sort_select" v-model="sortType">
                        <option value="viewer_desc">視聴者数が多い順</option>
                        <option value="viewer_asc">視聴者数が少ない順</option>                        
                        <option value="started_at">配信開始時間が直近順</option>
                    </select>

                    <button @click="sortStream" class="sort_submit_botton">並び替え</button>

                </div>


                <div class="stream_channels_channels">
                    <div v-for="stream in streams" :key="stream.id">
                        {% include 'stream/stream_panel.html' %}
                    </div>

                </div>
            </div>


        </main>
    </div>
    <footer>
        {% include 'top/footer.html' %}
    </footer>

    <script>
        const { createApp, ref } = Vue
        const app = createApp({
            data() {
                return {
                    receivedData: null,
                    streams: "",
                    sortType: 'viewer_desc',
                };

            },
            mounted() {
                this.getStreamData()
              
                
            },
            methods: {
                getStreamData() {
                    axios.get('/stream/list_stream_endpoint/', {
                        params: {

                        }
                    })
                        .then(response => {
                            // レスポンスを処理するコードをここに追加
                            console.log(response.data["streams"])
                            this.streams = response.data.streams;
                            console.log(response.data.streams);
                            this.sortStream()
                        })
                        .catch(error => {
                            // エラーハンドリングをここに追加
                            console.error(error);
                        });
                    
                },
                sortStream() {
                    if (this.sortType == 'viewer_asc') {
                        this.streams.sort((a, b) => a.viewer_count - b.viewer_count);
                    }
                    else if (this.sortType == 'viewer_desc') {
                        this.streams.sort((a, b) => b.viewer_count - a.viewer_count);

                    }
                    else if (this.sortType == 'started_at') {
                        this.streams.sort((a, b) => new Date(b.started_at) - new Date(a.started_at));
                       
                    }

                },
                formatDate(dateString) {
                    const options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' };
                    return new Date(dateString).toLocaleString(options);
                }

            },


        })

        app.config.compilerOptions.delimiters = ['[[', ']]']
        app.mount('#list_stream')



    </script>

</body>

</html>