<a href="">
    <div class="channel_panel">

        <div class="stream_panel_thumbnail">
            <img src = "{{channel.thumbnails_default}}">
        </div>
        <div class="stream_panel_info">
            <div class="channel_panel_info_title">
                {{channel.channel_title}}
            </div>
            <div class="channel_panel_info_main">
                <div class="stream_panel_info_main_author">
                   
                    配信者:
                </div>  
            </div>
            <div class="channel_panel_info_statistics">
                <div class="stream_panel_info_statistics_subscribercount">
                    配信タイトル : 
                </div>
                <div class="">
                    プラットフォーム：
                </div>
                <div class="stream_panel_info_statistics_viewscount">
                    視聴者数 : 
                </div>
                <div class="stream_panel_info_evaluation_streamcount">
                   配信開始時間: 
                </div>
            </div>
        </div>


    </div>
</a>