<!DOCTYPE html>
{% load static %}
<html>
<head>
    {% include 'top/google_analytics_tag.html'%}
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'video/css/index.css' %}"/>
    <title>
        Tekken Videos Top Page
    </title>
</head>
<header class="header">
    {% include 'top/site_header.html' %}
    {% include 'video/video_header.html' %}
</header>
<body>
    {% for channel in channelData %}
        {{ channel }}
    {% endfor %}


</body>
</html>