<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'top/css/password_change_form.css' %}"/>
    <title>
        パスワード変更フォーム
    </title>
</head>
<header class="header">
    {% include 'top/site_header.html' %}
    {% include 'top/account_manager_header.html' %}

</header>
<body>

<div class="wrapper">
    <main class="main">
        <h1>パスワード変更</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input type="submit">

        </form>
    </main>


</div>
</body>
</html>