<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'top/css/index.css' %}"/>
    <title>
        プロフィール編集ページ
    </title>
</head>
<header class="header">
    {% include 'top/site_header.html' %}

</header>
<body>

<div class="wrapper">
    <h1>パスワード再発行</h1>
    登録されているe-mailを入力してください。
    <form action="" method="POST">
        {% csrf_token %}
        <main class="main">
            <table>
                {{form.as_table}}
            </table>
        </main>
        <input type="submit" value="送信">

    </form>

</div>
</body>
</html>