footer{
    display:flex;
    flex-direction:column;
    background-color:black;
    color:white;
    margin-top:auto;
    margin-bottom:0px;
    align-items: center;
    padding:10px 0px 10px 0px;

}
footer a {
    color:white;

}

footer a:hover{
    color:yellow;
}
.footer_menu{
    margin:0px;
    display:flex;
    flex-direction:row;
}




.footer_menu_item{
    margin:10px 10px 10px 10px;
}
.footer_siteinfo{

}