@import url("/static/top/css/site_header.css");
@import url("guide_header.css");
@import url("/static/top/css/footer.css");

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0px;
    background-color: white;
    color: black;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 970px;
    margin: 30px auto 40px;
    min-height: 100vh;
}

main {
    width: 100%;
    display: block;
    margin: 30px auto 40px;
}


.page_title_field {
    color: white;
    position: relative;
    align-items: center;
    background-color: black;
    height: 500px;
    width: 100%;
    background-size: 100%;
}

.page_type {
    padding: 10px;
}

.page_summary a {
    color: white;
    text-decoration: underline;
}

.page_summary a:hover {
    color: yellow;
    text-decoration: underline;
}

.page_summary {
    display: flex;
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: rgba(150, 150, 150, 0.8);
    width: 98%;

}

.page_summary_icon {
    width: 15%;

}

.page_summary_title {
    width: 60%;
}

.page_summary_title_title {
    font-size: 25px;
    font-weight: bold;
}

.page_summary_vote {
    width: 300px;
    display: flex;
    flex-direction: column;
    width: 25%;

}

.vote_area {
    display: flex;
    width: 220px;

}

.good_evaluation_area {
    margin: 6px;
}


.good_evaluation_button {
    width: 60px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: white; /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;

}

.good_evaluation_pushed_button {
    width: 60px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: yellow; /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;

}


.good_evaluation_img {
    width: 30px;
    height: 30px;
}

.bad_evaluation_area {
    margin: 5px;
}

.bad_evaluation_pushed_button {
    width: 60px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: yellow; /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;

}


.bad_evaluation_button {
    height: 40px;
    width: 60px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: white; /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}


.favorite_area {
    margin: 3px;
}

.evaluation_favorite_area {
    background-color: blue;
    width: 300px;
}

.favorite_button {
    height: 40px;
    width: 200px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: white; /*ボタン色*/
    color: black;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.favorite_pushed_button {
    height: 40px;
    width: 200px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: yellow; /*ボタン色*/
    color: black;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.edit_link {
    margin: 10px 10px 10px 10px;
}

.table_of_contents {
    margin-top: 10px;
    background-color: white;
    width: 100%;
    color: black;
    border: 1px solid black;
    padding: 0px 0px 30px 0px;
}

.table_of_contents a {
    color: blue;
}

.table_of_contents a:hover {
    color: red;
}

.table_of_contents_title {
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 10px 0 10px 30px;

}

.table_of_contents_listdiv {
    padding: 10px 0 0 30px;
}

.table_of_contents_list {
    list-style: inside;
    list-style-type: decimal;
}

.sections_field {
    width: 100%;

}

.section {
    width: 100%;
    margin: 50px 0px 30px 0px;
    border: solid 1px black;
    background-color: rgb(68, 68, 68);
    height: auto;

}

.section_title {
    padding: 10px 10px 10px 20px;
    height: 10%;
    background-color: black;
    color: white;
    border-bottom: solid 3px #272828;
    font-size: 20px;
    font-weight: bold;

}

.section_article ul {
    margin: 30px 0px 30px 0px;
}

.section_article {
    height: 90%;
    padding: 10px 10px 10px 30px;
    background-color: white;
    color: black;
}

.section_article a {
    color: blue;
}

.section_article p {
    text-indent: 1em
}

.section_article a:hover {
    color: red;
}

.section_article ul {
    margin-left: 30px;

}


.section_article h1 {
    color: #364e96; /*文字色*/
    padding: 0.3em 0; /*上下の余白*/
    border-top: solid 3px #364e96; /*上線*/
    border-bottom: solid 3px #364e96; /*下線*/
    margin-top: 50px;
    margin-bottom: 10px;
}

.section_article h2 {
    font-size: 20px;
    padding: 0.25em 0.5em; /*上下 左右の余白*/
    color: #494949; /*文字色*/
    background: transparent; /*背景透明に*/
    border-left: solid 5px black; /*左線*/
    margin-top: 30px;
    margin-bottom: 10px;
}

.section_article h3 {
    padding: 5px;
    background-color: #eee;
    margin-top: 30px;
    margin-bottom: 10px;
}

.section_article h4, h5, h6 {
    text-decoration: dotted;
    padding: 5px;
    background-color: #eee;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.section_article hr {
    margin: 10px 0px 20px 0px;
}

.section_article th {
    padding: 5px;
    background-color: aqua;
    border: 1px solid black;
    border-collapse: collapse;
}

.section_article tr:nth-child(odd) {
    background-color: #eee;
}

.section_article table, td {
    padding: 5px;
    border-collapse: collapse;
    border: 1px solid black;
}

.section_article pre, code {
    margin: 10px 0px 10px 0px;
    padding: 5px 0px 5px 0px;
    line-height: 30px;
    background-color: beige;
}

.section_article img {
    max-width: 600px;
    max-height: 600px;
}

.section_article table {
    margin: 20px 0px 20px 0px;
}

.author_field {
    margin-top: 50px;
    width: 100%;
    border: solid 1px black;
}

.author_title {
    padding: 10px 10px 10px 20px;
    height: 10%;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.author_content {
    padding: 10px 10px 10px 30px;
    height: 90%;
    padding: 10px;
    background-color: white;
    color: black;
}

.author_name {
    display: flex;
}

.author_twitter {
    display: flex;
}

.author_twitch {
    display: flex;
}

.author_youtube {
    display: flex;
}

.author_item_label {
    width: 120px;
}

.author_introduction {
    margin: 20px 0px 0px 10px;
}

.comment_area {
    margin-top: 100px;
    width: 100%;
}

.comment_form {
    color: black;
    border: 1px solid black;
}

.comment_form td, th {
    border: 0px;


}

.comment_form_label {
    color: white;
    background-color: black;
    padding: 10px;
}

.comment_form_comment {
    background-color: white;

}

.comments {
    margin-top: 20px;
    color: black;
    border: solid black 1px;
}

.comments_title {
    color: white;
    background-color: black;
    padding: 10px 10px 10px 20px;
}

.comment {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-bottom: 4px double white;
}

.comment_contributor {
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
    font-size: 20px;
    font-weight: bold;

}

.comment_comment {
    margin-bottom: 10px;
    padding: 10px 10px 10px 30px;

}

.advertisement {
    display: none;
    margin: 20px;
    height: 300px;
}

