
* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0px;
    background-color: white;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 970px;
    margin: 30px auto 40px;
}

main {
    width: 100%;
    display: block;
    margin: 30px auto 40px;
}

.page_title_field {
    position: relative;
    align-items: center;
    background-color: aqua;
    height: 300px;
    width: 100%;
    background-image: url("../image/alisa_wp.jpg");
    background-size: 100%;
}

.page_summary {
    position: absolute;
    left: 10px;
    bottom: 10px;
    height: 100px;
    background-color: rgba(150, 150, 150, 0.8);
    width: 90%;

}

.page_summary_icon {
    width: 15%;
    float: left;
}

.page_summary_title {
    width: 60%;
    float: left;
}

.page_summary_vote {
    width: 25%;
    float: left;
}

.table_of_contents {
    margin-top: 10px;
    background-color: rgb(68, 68, 68);
    height: 200px;
    width: 100%;
}

.table_of_contents_title {
    padding: 10px 0 0 30px;

}

.table_of_contents_listdiv {
    padding: 10px 0 0 30px;
}

.table_of_contents_list {
    list-style: inside;
    list-style-type: decimal;
}

.sections_field {
    width: 100%;

}

.section {
    width: 100%;
    margin:50px 0px 30px 0px;
    background-color: rgb(68, 68, 68);
    height:auto;

}

.section_title {
    padding:10px 10px 10px 20px;
    height: 10%;
    background-color: rgb(68, 68, 68);
    border-bottom:solid 3px #272828;

}

.section_article {
    height: 90%;
    padding:10px 10px 10px 30px;
    background-color: rgb(68, 68, 68)

}

.author_field {
    margin:30px 0px 30px 0px;
    width: 100%;

}


.author_title {
    padding:10px 10px 10px 20px;
    height: 10%;
    background-color: rgb(68, 68, 68);
    border-bottom:solid 3px #272828;

}

.author_content {
    padding:10px 10px 10px 30px;
    height: 90%;
    padding:10px;
    background-color: rgb(68, 68, 68)

}


