{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163168954-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-163168954-1');
    </script>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'guide/css/about_guide.css' %}"/>
    <title>
        Tekken Guideについて
    </title>
</head>

<body>
<header class="header">
    {% include 'top/site_header.html' %}
    {% include 'guide/guide_header.html' %}
</header>

<div class="wrapper">
    <main class="main">
        <div class="page_title_field">
            Tekken GUIDEについて
        </div>

        <div class="page_introduction_field">
            <div class="page_introduction_field_section">
                <div class="page_introduction_field_section_label">
                    このサイトの趣旨
                </div>
                <div class="page_introduction_field_section_content">
                    このサイトは鉄拳の初心者～上級者まで攻略情報を自由に共有できるようにするためにしました。<br>
                    特に初心者の人で、鉄拳をやってる友達などがまわりにいない方でも、情報を集めやすいサイトになればと思います。<br>
                    <br>
                </div>
            </div>
            <div class="page_introduction_field_section">
                <div class="page_introduction_field_section_label">
                    　ガイドを書いて頂ける方へ
                </div>
                <div class="page_introduction_field_section_content">
                    ガイドの書き方などに関しては、<a href="{% url 'guide:detail' 1 %}" 　target="blank">こちら</a>をお読みください。<br>
                    ガイドについて、ご意見、質問、ご要望等ございましたら、<br>
                    <br>
                    <p>
                        <a href="https://twitter.com/tekkenmaniax041" target="_blank">
                            TEKKEN MANIAX 連絡用twitterアカウント
                        </a>
                    </p>
                    <br>
                    までDM等でご連絡お願いいたします。<br>

                </div>
            </div>
            <div class="page_introduction_field_section">
                <div class="page_introduction_field_section_label">
                    このサイトに関する注意
                </div>
                <div class="page_introduction_field_section_content">
                    このサイトは1個人の運営するファンサイトです。<br>
                    （株）バンダイナムコエンターテイメントとは何の関係もありません。<br>


                    <br>
                </div>
            </div>


        </div>
    </main>

</div>
<footer>
    {% include 'top/footer.html' %}
</footer>
</body>
</html>