{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163168954-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-163168954-1');
    </script>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'guide/css/about_guide.css' %}"/>
    <title>
        Tekken Guideについて
    </title>
</head>

<body>
<header class="header">
    {% include 'top/site_header.html' %}
    {% include 'guide/guide_header.html' %}
</header>

<div class="wrapper">
    <main class="main">
        <div class="page_title_field">
        </div>

        <div class="page_introduction_field">
            <div class="page_introduction_field_section">
                <div class="page_introduction_field_section_label">
                    <a href="{% url 'guide:index' %}">Tekken GUIDEについて</a>
                </div>
                <div class="page_introduction_field_section_content">

                </div>
            </div>
        </div>
    </main>

</div>
<footer>
    {% include 'top/footer.html' %}
</footer>
</body>
</html>