<!DOCTYPE html>
{% load static %}

<html>

<head>
    {% include 'top/google_analytics_tag.html'%}
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">

    <link rel="stylesheet" type="text/css" href="{% static 'guide/css/search.css' %}"/>
    <title>
        {{ character }}のガイド一覧
    </title>
</head>
<header class="header">
    {% include 'top/site_header.html' %}
    {% include 'guide/guide_header.html' %}
</header>
<body>

<div class="wrapper">
    <main class="main">
        <div class="search_container">
            <div class="search_title">
                {{ character.full_name_jp }}のガイド一覧
            </div>
        </div>
        <div class="guide_container">
            <div class="guide_message">
                {{ number_of_guide }}件のガイドがヒットしました。

            </div>

            <div class="pagination">
                <div class="pagination_previous">
                    {% if page_obj.has_previous %}
                        <a href="?character={{ character.id }}&page=1">&laquo;</a>　　
                        <a href="?character={{ character.id }}&page={{ page_obj.previous_page_number }}"> 前へ </a>
                    {% endif %}
                </div>
                <div class="pagination_current">
                    {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}ページ目
                </div>
                <div class="pagination_next">
                    {% if page_obj.has_next %}
                        <a href="?character={{ character.id }}&page={{ page_obj.next_page_number }}"> 次へ </a>　　
                        <a href="?character={{ character.id }}&page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                    {% endif %}
                </div>
            </div>
            <div class="guide_area">
                {% for guide in guide_list %}
                    {% include 'guide/guide_panel.html' %}
                {% endfor %}

            </div>


            <div class="pagination">
                <div class="pagination_previous">
                    {% if page_obj.has_previous %}
                        <a href="?character={{ character.id }}&page=1">&laquo;</a>　　
                        <a href="?character={{ character.id }}&page={{ page_obj.previous_page_number }}"> 前へ </a>
                    {% endif %}
                </div>
                <div class="pagination_current">
                    {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}ページ目
                </div>
                <div class="pagination_next">
                    {% if page_obj.has_next %}
                        <a href="?character={{ character.id }}&page={{ page_obj.next_page_number }}"> 次へ </a>　　
                        <a href="?character={{ character.id }}&page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                    {% endif %}
                </div>
            </div>

        </div>

    </main>

</div>
<footer>
    {% include 'top/footer.html' %}
</footer>
</body>
</html>