<!DOCTYPE html>
{% load static %}

<html>

<head>

    {% include 'top/google_analytics_tag.html'%}
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'guide/css/create.css' %}" />
    <title>
        ガイド新規作成ページ
    </title>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="{% static 'guide/js/jquery.selection.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>


<body>
    <header class="header">
        {% include 'top/site_header.html' %}
        {% include 'guide/guide_header.html' %}
    </header>

    <script type="text/javascript"></script>

    <div class="wrapper">
        <main class="main">
            <div class="page_title_field">
                <h1>ガイド作成ページ</h1>
            </div>
            <div class="edit_guide_introduction">
                <div class="guide_introduction">
                    ガイドを作成できるページです。<br />
                    ガイドを作ってあなたの知識をみんなと共有しましょう!<br />
                </div>

                <div class="guide_help_menu">
                    <div class="guide_help_menu_item">
                        <a href="{% url 'guide:detail' 1 %}" target="_blank">ガイドの書き方</a>はこちら
                    </div>
                </div>
            </div>

            <div style="width:1200px;">
                <form id = "my_form" method="post">
                {%csrf_token%}
                {{form.media}}
                {{form.as_p}}
                <button type="button" id="previewButton" class="guide_form_submit" onclick="previewSubmit()">プレビュー</button>
                <button type="submit" class="guide_form_submit">作成</button>
                </form>
            </div>

            <script>
            function previewSubmit() {
                var formData = document.getElementById('my_form');
                var previewWindow = window.open('', 'Form Submit Preview', 'width=400,height=200');
                previewWindow.document.write('<html><head><title>送信プレビュー</title></head><body>');
                previewWindow.document.write('<p>送信されたテキスト: ' + formData + '</p>');
                previewWindow.document.write('</body></html>');
                previewWindow.document.close();

           }
            </script>
            <!--
            <footer>
                {% include 'top/footer.html' %}
            </footer>
            -->

</body>

</html>