{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163168954-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-163168954-1');
    </script>
    <meta http-equiv="Refresh" content="3;URL={% url 'guide:detail' next %}">
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'guide/css/create_guide_finish.css' %}"/>
    <title>
        ガイド投稿完了
    </title>
</head>

<body>
<header class="header">
    {% include 'top/site_header.html' %}
    {% include 'guide/guide_header.html' %}
</header>
<div class="wrapper">
    <main class="main">
        投稿が完了しました。
        <a href="{% url 'guide:detail' next %}">投稿したガイドのページ</a>へ遷移します。
    </main>

</div>
<footer>
    {% include 'top/footer.html' %}
</footer>

</body>
</html>