<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@kickmeNmori2">
<meta property="og:title" content="{{guide.title}} by {{ guide.author.userprofile.nice_name }} TEKKEN MANIAX GUIDE ">
<meta property="og:description" content="{{guide.character.full_name_jp}} の{{guide.category.name}}　ガイドです。">
<meta property="og:image" content="https://extreme-gamers.info/static/guide/image/character_wp_{{guide.character.id}}.jpg">
<meta property="og:url" content="https://extreme-gamers.info/guide/detail/{{guide.id}}">