<!DOCTYPE html>
{% load static %}
<html>
<head>
    <script data-ad-client="ca-pub-7596622095136507" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163168954-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-163168954-1');
    </script>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <meta http-equiv="Refresh" content="3;{% url 'guide:index' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'guide/css/index.css' %}"/>
    <title>
        template test
    </title>
</head>
<header class="header">
    {% include 'top/site_header.html' %}
    {% include 'guide/guide_header.html' %}
</header>
<body>

<div class="wrapper">
    <main class="main">
        <H1>エラー</H1>
        {{ error_text }}
    </main>

</div>
</body>
</html>