<nav class="guide_nav_header">
    <ul class="guide_menu">
        <li class="guide_menu_item guide_logo"><a href="{% url 'guide:index' %}">TEKKEN GUIDE</a></li>
        <li class="guide_menu_item">
            <form action="/guide/search/" method="GET">
                <input type="text" name="search_word" maxlength="50" required id="id_search_word" size="40"
                       placeholder="タイトル、キャラクター名、カテゴリ、本文など">
                <input type="submit" value="検索">
            </form>
        </li>
        {% if user.is_authenticated %}
        <li class="guide_menu_item"><a href="{% url 'guide:create' %}">ガイド新規作成</a></li>
        <li class="guide_menu_item"><a href="{% url 'guide:favorite_guide' %}">お気に入りガイド</a></li>
        <li class="guide_menu_item"><a href="{% url 'guide:your_guide' %}">あなたの書いたガイド</a></li>

        {% endif %}


    </ul>
</nav>
