{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'top/google_analytics_tag.html'%}
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'guide/css/index.css' %}"/>
    <title>
        ガイドの書き方について
    </title>
</head>

<body>
<header class="header">
    {% include 'top/site_header.html' %}
    {% include 'guide/guide_header.html' %}
</header>
<div class="wrapper">
    <main class="main">
    </main>

</div>
<footer>
    {% include 'top/footer.html' %}
</footer>
</body>
</html>