<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'guide/css/index.css' %}"/>
    <title>
        template test
    </title>
</head>
<header class="header">
    {% include 'top/site_header.html' %}
    {% include 'guide/guide_header.html' %}
</header>
<body>

<div class="wrapper">
    <main class="main">
        <div class="introduction_container">
            <div class="introduction_title">
                Tekken Guideへようこそ!
            </div>
            <div class="introduction_comment">
                このサイトはみんなで鉄拳の攻略を持ち寄ろうというサイトです。<br/>
                初心者～上級者まで、みなさんの独自の攻略を投稿して、みんなで攻略情報を共有しましょう！<br/>
            </div>
            <div class="introduction_description">
                <div class="introduction_description_item">
                    <div class="description_title">
                        <a href="">TEKKEN GUIDEについて</a>
                    </div>
                    <div class="description_article">
                        このサイトについての簡単な説明があります。
                    </div>
                </div>
                <div class="introduction_description_item">
                    <div class="description_title">
                        <a href="">アカウントの登録方法</a>
                    </div>
                    <div class="description_article">
                        アカウントの登録方法の説明です。
                    </div>
                </div>
                <div class="introduction_description_item">
                    <div class="description_title">
                        <a href="">ガイドの書き方</a>
                    </div>
                    <div class="description_article">
                        ガイドの書き方についてのガイドです。
                    </div>
                </div>

                <div class="introduction_description_item">
                    <div class="description_title">
                        <a href="">鉄拳初心者向けガイド</a>
                    </div>
                    <div class="description_article">
                        鉄拳を初めてプレイする人に向けてのガイドです。
                    </div>
                </div>
                <div class="introduction_description_item">
                    <div class="description_title">
                        <a href="">サイト利用上の注意</a>
                    </div>
                    <div class="description_article">
                        サイト利用上の注意についてです。
                    </div>
                </div>
            </div>
        </div>


        <div class="contents_container">
            <div class="character_guide_container">
                <div class="character_guide_title">
                    キャラクター別ガイド一覧
                </div>

                <div class="character_guide_area">
                    {% for key, value in character_guide_list.items %}
                    <div class="character_guide_item">
                        <a href="{% url 'guide:search' %}?search_word={{value.character.first_name_en}} ">
                            <img class="character_guide_icon_img"
                                 src="/static/guide/image/character_icon_{{value.character.id}}.jpg" width="100"
                                 height="100">
                        </a>
                        <div class="character_guide_character_name">
                            {{value.character}}
                        </div>
                        <div class=" character_guide_num_of_guides">
                            <span class="num_of_guides">{{value.num}}</span> 件
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="latest_guide_container">
                <div class="latest_guide_title">
                    新着ガイド
                </div>
                <div class="latest_guide_area">
                    {% for guide in latest_guide_list %}
                    <div class="guide_panel">
                        <a href="{% url 'guide:detail' guide.id %}">
                            <div class="guide_character_icon">
                                <img src="/static/guide/image/character_icon_{{guide.character.id}}.jpg"
                                     class="guide_character_icon_img">
                            </div>
                            <div class="guide_maininfo">
                                {{guide.title}}<br>
                                by {{guide.author.userprofile.nick_name}}<br>
                                {{guide.category.name}}ガイド<br>

                                {{guide.pub_date}}<br>

                            </div>
                            <div class="guide_subinfo">
                                view : {{guide.number_of_preview}}<br>
                                高評価:<br>
                                低評価:<br>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>

            </div>
            <!--
            <div class="high_rating_guide_container">
                <div class="high_rating_guide_title">
                    高評価ガイド
                </div>
                <div class="high_rating_guide_area">
                    {% for guide in latest_guide_list %}
                    <div class="guide_panel">
                        <a href="{% url 'guide:detail' guide.id %}">
                            <div class="guide_character_icon">
                                <img src="/static/guide/image/character_icon_{{guide.character.id}}.jpg"
                                     class="guide_character_icon_img">
                                {{guide.character}}

                            </div>
                            <div class="guide_maininfo">
                                {{guide.title}}<br>
                                by {{guide.author.userprofile.nick_name}}<br>
                                {{guide.category.name}}ガイド<br>

                                {{guide.pub_date}}<br>

                            </div>
                            <div class="guide_subinfo">
                                view : {{guide.number_of_preview}}<br>
                                高評価:<br>
                                低評価:<br>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>

            </div>
            -->
        </div>
    </main>

</div>
<footer>
    {% include 'top/footer.html' %}
</footer>

</body>
</html>