<!DOCTYPE html>
{% load static %}
{% load toc_tags %}

<html lang="en">

<head>
    {% include 'top/google_analytics_tag.html'%}
    {% include 'guide/detail_tc.html' %}
    <base target="_blank">
    <link rel="stylesheet" type="text/css" href="{% static 'guide/css/detail.css' %}" />
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8">
    <title>ガイド:{{ guide.title }}</title>
</head>

<body>
    <header class="header">
 
    </header>
    <div class="wrapper">
        <main>

            <div class="page_title_field"
                style="background-image:url('/static/guide/image/character_wp_{{ character.id }}.jpg')">
                <div class="page_type">
                    カテゴリ:{{ category }}<br>
                    キャラクター:{{ character }}<br>
                </div>
                <div class="page_summary">
                    <div class="page_summary_icon">
                        <img src="/static/guide/image/character_icon_{{ character.id }}.png" width="100"
                            height="100">

                    </div>
                    <div class="page_summary_title">
                        <div class="page_summary_title_title">
                            {{ title }}
                        </div>
                        <div class="page_summary_title_page_data">
                            投稿者:
                                {{user.userprofile.nick_name }}
                           <br>
                            閲覧数:0 view<br>
                            最終更新日:
                        </div>

                    </div>


                    <div class="page_summary_vote">
                        <div id="evaluation" class="vote_area">
                            <div class="good_evaluation_area">
                                {% if user.is_authenticated %}
                                高評価

                                <span v-else>
                                    <button @click="addEvaluation()" class="good_evaluation_button">
                                        <img src="{% static 'guide/image/good_evaluation.jpg' %}" width="20px">
                                    </button>
                                </span>

                                {% else %}
                                <img src="{% static 'guide/image/good_evaluation.jpg' %}" width="40px">
                                {% endif %}
                                : 0
                            </div>

                        </div>
                        <div id="favorite" class="favorite_area">

                            <div id="page_summary_favorite" class="page_summary_favorite">


                                {% if user.is_authenticated %}

  
                                <div v-else>
                                    <button @click="addFavorite()" class="favorite_button">お気に入りに追加</button>
                                </div>
                                {% else %}
                                <a href="{% url 'login' %}?next={% url 'guide:detail' guide.id %}">ログイン</a>
                                するとお気に入りに追加できます。
                                {% endif %}

                            </div>
                        </div>
                        <div class="share_area">

                        </div>
                    </div>
                </div>
            </div>

            {% if request.user == guide.author %}
            <div class="edit_link">
                ページ管理者メニュー :
                <a href="{% url 'guide:update' guide.id %}" target="_blank">
                    このページを編集する
                </a>
            </div>
            {% endif %}


            <div class="advertisement">
                広告エリア

            </div>
            <div class="table_of_contents">
                <div class="table_of_contents_title">
                    目次
                </div>
                <div class="table_of_contents_listdiv">
                    <ul>
                    {% for item in table_of_contents %}
                        <li class="level-{{ item.level }}" style="margin-left: {{ item.level|add:'-1'|multiply:30 }}px;">
                            <a href="#{{ item.id }}" target="_self">{{ item.text }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>


            <div class="sections_field">




                <div class="section_article">
                    {{article | safe}}
                </div>

                <div class="author_field">
                    <div class="author_title">投稿者情報</div>
                    <div class="author_content">
                        <div class="author_name">
                            <div class="author_item_label">
                                投稿者
                            </div>
                            <div class="author_item_contents">
                                : <a href="">
                                    {{ user.userprofile.nick_name }}
                                 </a>
                            </div>
                        </div>
                        {% if user.userprofile.twitter_account != "" %}
                        <div class="author_twitter">
                            <div class="author_item_label">
                                twitter
                            </div>
                            <div class="author_item_contents">
                                : <a href="https://twitter.com/{{ user.userprofile.twitter_account }}">
                                    @{{user.userprofile.twitter_account }}
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% if user.userprofile.twitch_url != "" %}
                        <div class="author_twitch">
                            <div class="author_item_label">
                                twitch URL
                            </div>
                            <div class="author_item_contents">
                                : <a href="{{ user.userprofile.twitch_url }}">
                                    {{ user.userprofile.twitch_url}}</a>
                            </div>
                        </div>
                        {% endif %}
                        {% if user.userprofile.youtube_channel_url != "" %}
    
                        <div class="author_youtube">
                            <div class="author_item_label">
                                youtube URL
                            </div>
                            <div class="author_item_contents">
    
    
                                : <a href="{{user.userprofile.youtube_channel_url }}">
                                    {{user.userprofile.youtube_channel_url }}
                                </a>
    
    
                            </div>
                        </div>
                        {% endif %}
                        <div class="author_introduction">
                            {{ user.userprofile.introduction| linebreaksbr }}
                        </div>
    
    
                    </div>
                </div>
    




        </main>
    </div>
    <footer>
        {% include 'top/footer.html' %}
    </footer>



</body>

</html>