<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    {% include 'top/google_analytics_tag.html'%}
    <link rel="stylesheet" type="text/css" href="{% static 'guide/css/preview.css' %}"/>
    <meta charset="UTF-8">
     <base target="_blank">
    <title>Title test</title>
</head>
<body>
<div class="wrapper">
    <main>
        <div class="page_title_field"
             style="background-image:url('/static/guide/image/character_wp_{{ guide_character_id }}.jpg')">
            <div class="page_type">
                カテゴリ:{{ guide_category }}<br>
                キャラクター{{ guide_character.full_name_jp }}<br>
            </div>
            <div class="page_summary">
                <div class="page_summary_icon">
                    <img src="/static/guide/image/character_icon_{{ guide_character_id }}.jpg" width="100" height="100">

                </div>
                <div class="page_summary_title">
                    <div class="page_summary_title_title">
                        {{ guide_title }}
                    </div>
                    <div class="page_summary_title_page_data">
                        投稿者:{{ user.userprofile.nick_name }}(id:{{ user }})<br>
                        閲覧数: 0 view<br>
                        最終更新日:{{ pub_date }}
                    </div>

                </div>

                <div class="page_summary_vote">
                    <div class="vote_area">
                        <div id="good_evaluation_area" class="good_evaluation_area">
                            {% if user.is_authenticated %}
                                {% ifequal evaluation.evaluation 1 %}
                                    <button type="button" class="good_evaluation_pushed_button"
                                            name="good_evaluation_pushed"
                                            value="good_evaluation_pushed">
                                        <img src="{% static 'guide/image/good_evaluation.jpg' %}" width="20px">
                                    </button>
                                {% else %}
                                    <button type="button" class="good_evaluation_button" name="good_evaluation"
                                            value="good_evaluation">
                                        <img src="{% static 'guide/image/good_evaluation.jpg' %}" width="20px">
                                    </button>
                                {% endifequal %}
                            {% else %}
                                <img src="{% static 'guide/image/good_evaluation.jpg' %}" width="40px">
                            {% endif %}
                            : {{ numof_good_evaluations }}
                        </div>
                        <div id="bad_evaluation_area" class="bad_evaluation_area">
                            {% if user.is_authenticated %}
                                {% ifequal evaluation.evaluation 2 %}
                                    <button type="button" class="bad_evaluation_pushed_button"
                                            name="bad_evaluation_pushed"
                                            value="bad_evaliation_pushed">
                                        <img src="{% static 'guide/image/bad_evaluation.jpg' %}" width="20px">
                                    </button>
                                {% else %}
                                    <button type="button" class="bad_evaluation_button" name="bad_evaluation"
                                            value="bad_evaliation">
                                        <img src="{% static 'guide/image/bad_evaluation.jpg' %}" width="20px">
                                    </button>
                                {% endifequal %}
                            {% else %}
                                <img src="{% static 'guide/image/bad_evaluation.jpg' %}" width="40px">
                            {% endif %}
                            : {{ numof_bad_evaluations }}
                        </div>
                    </div>
                    <div class="favorite_area">
                        <div id="page_summary_favorite" class="page_summary_favorite">
                            {% if user.is_authenticated %}
                                {% ifequal favorite.user user %}
                                    <button type="button" class="favorite_pushed_button" name="release_favorite">
                                        お気に入り追加済み
                                    </button>
                                {% else %}
                                    <button type="button" class="favorite_button" name="add_favorite">お気に入りに追加</button>
                                {% endifequal %}
                            {% else %}
                                <a href="{% url 'login' %}">ログイン</a>するとお気に入りに追加できます。
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="advertisement">
            広告エリア

        </div>

        <div class="table_of_contents">
            <div class="table_of_contents_title">
                目次
            </div>
            <div class="table_of_contents_listdiv">
                <ul class="table_of_contents_list">
                    {% for section in guide_sections %}
                        <li><a href="#section{{ forloop.counter }}">{{ section.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="sections_field">
            {% for section in guide_sections %}


                <div id="section{{ forloop.counter }}" class="section">
                    <div class="section_title">
                        {{ section.title }}
                    </div>
                    <div class="section_article">
                        {{ section.article|safe }}
                    </div>
                </div>

            {% endfor %}


        </div>
        <div class="advertisement">
            広告エリア

        </div>

        <div class="author_field">
            <div class="author_title">投稿者情報</div>
            <div class="author_content">
                <div class="author_name">
                    <div class="author_item_label">
                        投稿者
                    </div>
                    <div class="author_item_contents">
                        : {{ user.userprofile.nick_name }} (id : {{ user }})
                    </div>
                </div>
                {% if guide.author.userprofile.twitter_account != "" %}
                    <div class="author_twitter">
                        <div class="author_item_label">
                            twitter
                        </div>
                        <div class="author_item_contents">
                            : <a href="https://twitter.com/">@{{ user.userprofile.twitter_account }}</a>
                        </div>
                    </div>
                {% endif %}
                {% if guide.author.userprofile.twitch_url != "" %}
                    <div class="author_twitch">
                        <div class="author_item_label">
                            twitch URL
                        </div>
                        <div class="author_item_contents">
                            : <a
                                href="{{ user.userprofile.twitch_url }}">{{ user.userprofile.twitch_url }}</a>
                        </div>
                    </div>
                {% endif %}
                {% if guide.author.userprofile.youtube_channel_url != "" %}

                    <div class="author_youtube">
                        <div class="author_item_label">
                            youtube URL
                        </div>
                        <div class="author_item_contents">
                            : <a
                                href="{{ user.userprofile.youtube_channel_url }}">{{ user.userprofile.youtube_channel_url }}</a>
                        </div>
                    </div>
                {% endif %}
                <div class="author_introduction">
                    {{ user.userprofile.introduction| linebreaksbr }}
                </div>


            </div>

        </div>
        <div class="advertisement">
            広告エリア

        </div>

    </main>
</div>
</body>
</html>