<!DOCTYPE html>
{% load static %}

<html lang="ja">
<head>
    {% include 'top/google_analytics_tag.html'%}
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'guide/css/create.css' %}"/>
    <title>
        ガイド更新ページ
    </title>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="{% static 'guide/js/jquery.selection.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

</head>


<body>
<header class="header">
    {% include 'top/site_header.html' %}
    {% include 'guide/guide_header.html' %}
</header>

<script type="text/javascript"></script>

<div class="wrapper">
    <main class="main">
        <div class="page_title_field">
            <h1>ガイド更新ページ</h1>
        </div>
        <div class="edit_guide_introduction">
            <div class="guide_introduction">
                ガイドを作成できるページです。<br/>
                ガイドを作ってあなたの知識をみんなと共有しましょう!<br/>
            </div>

            <div class="guide_help_menu">
                <div class="guide_help_menu_item">
                    <a href="{% url 'guide:detail' 1 %}" target="_blank">ガイドの書き方</a>はこちら
                </div>
           
            </div>
        </div>

        <div>
            <form action="" method="post" id="guide_form" name="guide_form">
                {% csrf_token %}
                {{form.media}}
                {{form.as_p}}
                <input class="" type="submit">
            </form>
        </div>
        <!--
        <footer>
            {% include 'top/footer.html' %}
        </footer>
        -->
</body>
</html>