<!DOCTYPE html>
{% load static %}

<html lang="ja">
<head>
    {% include 'top/google_analytics_tag.html'%}
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'guide/css/create.css' %}"/>
    <title>
        ガイド更新ページ
    </title>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="{% static 'guide/js/jquery.selection.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

</head>


<body>
<header class="header">
    {% include 'top/site_header.html' %}
    {% include 'guide/guide_header.html' %}
</header>

<script type="text/javascript"></script>

<div class="wrapper">
    <main class="main">
        <div class="page_title_field">
            <h1>ガイド更新ページ</h1>
        </div>
        <div class="edit_guide_introduction">
            <div class="guide_introduction">
                ガイドを作成できるページです。<br/>
                ガイドを作ってあなたの知識をみんなと共有しましょう!<br/>
            </div>

        </div>

        <div>
            <form action="" method="post" id="guide_form" name="guide_form">
                {% csrf_token %}
                {{form.media}}
                {{form.as_p}}
                <button type="button" id="previewButton" class="guide_form_submit" onclick="previewForm()">プレビュー</button>
                <button type="button" id="submitButton" class="guide_form_submit" onclick="submitForm()">作成</button>
            </form>
        </div>

        <script>

            function submitForm() {
                // 通常の送信のためのアクションを設定
                var form = document.getElementById('guide_form');
                form.action = ''; // 通常の送信先URL
                form.target = '_self'; // 同じウィンドウで送信
                form.submit();
            }

            function previewForm() {
                // プレビューのためのアクションを設定
                var form = document.getElementById('guide_form');
                if(form.id_title.value == ""){
                    alert("ガイドのタイトルを設定してください")
                    return;
                }
                form.action = '../preview'; // プレビュー送信先URL
                form.target = '_blank'; // 新しいウィンドウで開く
                form.submit();
            }

        </script>
        <!--
        <footer>
            {% include 'top/footer.html' %}
        </footer>
        -->
</body>
</html>