@import url("/static/top/css/site_header.css");
@import url("database_header.css");
@import url("/static/top/css/footer.css");

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0px;
    background-color: white;
    color: black;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 970px;
    margin: 30px auto 40px;
    min-height: 100vh;
}

main {
    width: 100%;
    display: block;
    margin: 30px auto 40px;
}

/*
ヘッダー部分　ここから
*/

.page_title_field {
    color: white;
    position: relative;
    align-items: center;
    background-color: black;
    height: 500px;
    width: 100%;
}

.strike_menu{
    margin-top:40px;
    margin-bottom:40px;
    padding:10px;
    border-top:solid 3px black;
    border-bottom:solid 3px black;
}
.strike_move_list_table{
    margin:10px 10px 10px 10px;
    width:100%;
    border:solid 1px black;
}

.strike_move_list_table th{
    border:solid 1px black;
}

.strike_move_list_table td{
    border:solid 1px black;
    padding:5px 5px 5px 5px;
}

.throw_menu{
    margin-top:40px;
    margin-bottom:40px;
    padding:10px;
    border-top:solid 3px black;
    border-bottom:solid 3px black;
}
.throw_move_list_table{
    margin:10px 10px 10px 10px;
    width:100%;
    border:solid 1px black;
}

.throw_move_list_table th{
    border:solid 1px black;
}

.throw_move_list_table td{
    border:solid 1px black;
    padding:5px 5px 5px 5px;
}

.move_list_character_title{
    padding-top:20px;
    padding-bottom:20px;
    margin-top:30px;
    margin-bottom:30px;
    width:100%;
    border-top:solid 10px black;
    border-bottom:solid 10px black;
}
.staff_menu{
    margin-top:30px;
    margin-bottom:30px;
}
.move_list_index{
    margin-top:10px;
    margin-bottom:10px;
}
.move_sort_form{
    height:50px;
    padding-top:30px;
    padding-left:30px;
    background-color:aqua;
}
.move_sort_form input{
 
padding:5px;

}
.move_sort_form select{
 
    padding:5px;
    
    }

.jump_status{
    background-color:blue;
    color:white;
    padding-left:10px;
    padding-right:10px;

}

.crouch_status{
    background-color:brown;
    color:white;
    padding-left:10px;
    padding-right:10px;

}
.move_list_description{
    background-color:#fffacd;
    margin-top :30px;
    margin-bottom: 30px;
    padding:10px;
}

@media screen and (orientation: landscape){
 
  
    
    .wrapper {
        display: flex;
        padding: 10px;
        flex-direction: column;
        min-height: 100vh;
        width: 1800px;
        margin: 0px auto 0px;
        background-color: #FAFAFA;
        color: black;
    }

    .move_name{
        width:200px;

    }

    .move_damage{
        width:80px;
    }

    .move_dimdamage{
        width:80px;

    }

    .move_hit_level{
        width:100px;
    }

    .move_startup{
        width:80px;

    }
    .move_guard{
        width:80px;

    }

    .move_hit{
        width:80px;

    }

    .move_counter{
        width:80px;
    }
    .move_note{

    }
    .move_throwtech{
        width:80px;

    }
    .move_throwtech_frame{
        width:80px;

    }

    .move_state_player{
        width:120px;
    }
    .move_state_enemy_guard{
        width:120px;
    }
    .move_state_enemy_hit{
        width:120px;
    }
    .move_state_enemy_counter{
        width:120px;
    }
    .move_state_crouch_hit{
        width:120px;
    }
    .move_state_enemy_air{
        width:120px;
    }
    .move_state_state_enemy_down{
        width:120px;
    }

    .img_crouch{
        width:25px;
        height:25px;
    }

}
@media screen and (orientation: portrait) {


    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 970px;
        margin: 30px auto 40px;
    }

    .move_name{
        width:200px;

    }

    .move_damage{
        width:50px;
    }

    .move_dimdamage{
        width:50px;

    }

    .move_hit_level{
        width:100px;
    }

    .move_startup{
        width:50px;

    }
    .move_guard{
        width:60px;

    }

    .move_hit{
        width:50px;

    }

    .move_counter{
        width:50px;
    }
    .move_note{

    }
    .move_throwtech{
        width:50px;

    }
    .move_throwtech_frame{
        width:50px;

    }
    .move_state_player{
        width:100px;
    }
    .move_state_enemy_guard{
        width:100px;
    }
    .move_state_enemy_hit{
        width:100px;
    }
    .move_state_enemy_counter{
        width:100px;
    }
    .move_state_enemy_crouch_hit{
        width:100px;
    }
    .move_state_enemy_air{
        width:100px;
    }
    .move_state_enemy_down{
        width:100px;
    }

    .img_crouch{
        width:25px;
        height:25px;
    }
    

}

@media screen and (max-width: 767px) {
 
    
}