<!DOCTYPE html>
{% load static %}
<html>

<head>
    {% include 'top/google_analytics_tag.html'%}
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'database/css/move_list.css' %}" />
    <title>
        Tekken MANIAX - DATABASE -
    </title>
</head>

<body>
    <header class="header">
        {% include 'top/site_header.html' %}
        {% include 'database/database_header.html'%}
    </header>
    <div class="wrapper">
        <div class="contents_container">
            <div class="page_title_field"
                style="background-image:url('/static/guide/image/character_wp_{{ character }}.jpg')">

            </div>
            <div class="move_list_character_title">
            <h1>{{character_data}}  - {{character_data.first_name_en}} {{character_data.family_name_en}}</h1>
                
            </div>
            {% if user.is_staff %}
            <div class="staff_menu">
                <div class="staff_menu_title">
                    スタッフ用メニュー<br>
                </div>
                <div class="staff_menu_link">
                    <ul>
                        <li><a href="{% url 'database:move_create'  %}?character={{character}}">新しい技の追加</a></li>
                    </ul>
                </div>
            </div>
            <div>
            </div>
            {% endif %}

            <div class="move_sort_form">
                <form method="get" action="">
                    {% if request.GET.query %}
                    <input type="hidden" name="query" value="{{ request.GET.query }}">
                    {% endif %}
                    {{ move_order_form }}
                    <input type ="hidden" name = "character" value="{{request.GET.character}}">
                    <input class="sort_submit_botton" type="submit" name="sort_submit" value="並び替え">
                </form>
            </div>


         

         



            <div class="move_list_content">
            {% for move_type in move_type_list %}
            <div class="move_list_index">
                {% for move_type in move_type_list %}
                <a href="#{{move_type.id}}">{{move_type.name}}</a> | 
                {% endfor %}
            </div>

                {% if move_type.order >= 701 and move_type.order <= 899 %}
                <div class="throw_menu" id ="{{move_type.id}}">
                    {{move_type.name}}
                </div>
                <table class="throw_move_list_table">
                    <tr>
                        <th class="move_name">技名・コマンド</th>
                        <th class="move_damage">ダメージ</th>
                        <th class="move_hit_level">判定</th>
                        <th class="move_startup">発生</th>
                        <th class="move_throwtech">投げ抜けコマンド</th>
                        <th class="move_throwtech_frame">投げ抜け後のフレーム</th>
                        <th class="move_note">備考</th>
          

                    </tr>

                    {% for move in move_list %}
                    {% if move.move_type == move_type %}
                    <tr>
                        <td><a href="{% url 'database:move_detail' move.id %}">{{move.name_jp}}</a><br>{{move.full_command_jp}}</td>
            
                        <td>{{move.damage}}</td>
                        <td>{{move.hit_level}}</td>
                        <td>
                            {% if move.frame_startup == None %}
                            -
                            {% else %}  
                            {{move.frame_startup}}
                            {% endif %}
                    

                        </td>
                        <td>{{move.throw_tech}}</td>
                        <td>
                            {% if move.throw_tech_frame == None %}
                            -
                            {% else %}  
                            {{move.throw_tech_frame}}
                            {% endif %}
                        </td>
                        <td> 
                            {% if move.jump_status %}
                            <span>JS:{{move.jump_status_startup}}F</span>
                            {% endif %}
                            {% if move.crouch_status %}
                            <span>CS : {{move.crouch_status_startup}}</span>
                            {% endif %}
                            {% if move.homing %}
                            <span><img src="{% static 'database/image/homing.png' %}"></span>
                            {% endif %}
                            {% if move.power_crash %}
                            <span><img src="{% static 'database/image/powercrash.png' %}"></span>
                            {% endif %}
                            {% if move.tornado %}
                            <span><img src="{% static 'database/image/tornado.png' %}"></span>
                            {% endif %}
                            {% if move.heat_engager %}
                            <span><img src="{% static 'database/image/heatengage.png' %}"></span>
                            {% endif %}
                            {% if move.diminish %}
                            <span><img src="{% static 'database/image/diminish.png' %}"></span>
                            {% endif %}
                            <br>
                            {% if move.is_wall_brake %}
                            <span><img src="{% static 'database/image/wallbrake.png' %}">　</span>
                            {% endif %}
                            {% if move.is_floor_brake %}
                            <span><img src="{% static 'database/image/floorbrake.png' %}">　</span>
                            {% endif %}
                            {{move.note}}
                        </td>
                     
                    </tr>
                    {% endif %}
                    {% endfor%}
                </table>
            
                {% else %}
            <div class="strike_menu" id="{{move_type.id}}">
                   {{move_type.name}}
            </div>


            <table class="strike_move_list_table">
                <tr>
                    <th class="move_name">技名・コマンド</th>
                    <th class="move_damage">ダメージ</th>
                    <th class="move_dimdamage">削りダメージ<br>(ヒート時)</th>
                    <th class="move_hit_level">判定</th>
                    <th class="move_startup">発生</th>
                    <th class="move_guard">ガード</th>
                    <th class="move_hit">ヒット</th>
                    <th class="move_counter">カウンター</th>
                    <th class="move_note">備考</th>

                </tr>
                {% for move in move_list %}
  
                {% if move.move_type == move_type %}
                <tr>
                    <td><a href="{% url 'database:move_detail' move.id %}">{{move.name_jp}}</a><br>{{move.full_command_jp}}</td>
                  
                    <td>
                        {% if move.damage == None %}
                        -
                        {% else %}  
                        {{move.damage}}
                        {% endif %}
                    </td>
                    <td>
                        {% if move.guard_damage == None %}
                        -
                        {% else %}  
                        {{move.guard_damage}}
                        {% endif %}
                        {% if move.guard_damage_heat == None %}
                        (-)
                        {% else %}
                        ({{move.guard_damage_heat}})
                        {% endif %}
                    </td>
                        
                    <td>{{move.hit_level}}</td>
                    <td>
                        {% if move.frame_startup == None %}
                        -
                        {% else %}
                        {{move.frame_startup}}
                        {% endif %}

                    </td>
                    <td>
                        {% if move.frame_block == None%}
                        -
                        {% else %}
                        {{move.frame_block}}
                        {% if move.state_enemy_guard2.name == "しゃがみ" or move.state_enemy_guard2.name == "しゃがみ(ガード可能硬直)" %}
                        <img class="img_crouch" src="{% static 'database/image/crouch.png' %}">
                        {% endif %}
                        {% endif %}
                    
                    </td>
                    <td>
                        {% if move.frame_hit == None%}
                        -
                        {% else %}
                        {{move.frame_hit}}
               
                        {% if move.state_enemy_hit2.name == "しゃがみ" or move.state_enemy_hit2.name == "しゃがみ(ガード可能硬直)" %}
                        <img class="img_crouch" src="{% static 'database/image/crouch.png' %}">
                        {% endif %}
                        {% endif %}
                        <br>
                        {%if move.state_enemy_hit2.list_display%}
                        {{move.state_enemy_hit2.list_display}}
                        {% endif %}

                    </td>
                    <td>
                        {% if move.frame_counter == None %}
                        -
                        {% else %}
                        {{move.frame_counter}}
                        {% if move.state_enemy_counter2.name == "しゃがみ" or move.state_enemy_counter2.name == "しゃがみ(ガード可能硬直)" %}
                        <img class="img_crouch" src="{% static 'database/image/crouch.png' %}">
                        {% endif %}
                        {% endif %}
                       <br>
                       {%if move.state_enemy_counter2.list_display%}
                       {{move.state_enemy_counter2.list_display}}
                       {% endif %}

                    
                    </td>
                    <td>
                        {% if move.jump_status %}
                        <span>
                        <span class="jump_status">JS</span>  : {{move.jump_status_startup}}F
                        </span>
                        {% endif %}
                        {% if move.crouch_status %}
                        <span>
                            <span class="crouch_status">CS</span>  : {{move.crouch_status_startup}}F
                        </span>
                        {% endif %}
                        {% if move.homing %}
                        <span><img src="{% static 'database/image/homing.png' %}">　</span>
                       
                        {% endif %}
                        {% if move.power_crash %}
                        <span><img src="{% static 'database/image/powercrash.png' %}"> : {{move.power_crash_startup}}F　</span>
                        {% endif %}
                        {% if move.tornado %}
                        <span><img src="{% static 'database/image/tornado.png' %}">　</span>
                        {% endif %}
                        {% if move.heat_engager %}
                        <span><img src="{% static 'database/image/heatengage.png' %}">　</span>
                        {% endif %}
                        {% if move.diminish %}
                        <span><img src="{% static 'database/image/diminish.png' %}">　</span>
                        {% endif %}
                        {% if move.is_wall_brake %}
                        <span><img src="{% static 'database/image/wallbrake.png' %}">　</span>
                        {% endif %}
                        {% if move.is_floor_brake %}
                        <span><img src="{% static 'database/image/floorbrake.png' %}">　</span>
                        {% endif %}
                        <br>
                        {{move.note | linebreaks}}
                    </td>


                </tr>

                {% endif %}
                {% endfor %}
            </table>
            {% endif %}

            {% endfor %}
           
            </div>

        </div>
</body>

</html>