<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@kickmeNmori2">
<meta property="og:title" content="Frame DATA - {{ character_data }}  TEKKEN MANIAX DATABASE">
<meta property="og:description" content="{{ character_data }} のフレームデータ付き技表です。">
<meta property="og:image" content="https://extreme-gamers.info/static/guide/image/character_wp_{{character}}.jpg">
<meta property="og:url" content="https://extreme-gamers.info/database/frame_data/move_list/?character={{character}}">