<!DOCTYPE html>
{% load static %}
<html>

<head>
    {% include 'top/google_analytics_tag.html'%}
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'database/css/index.css' %}" />
    <title>
        TEKKEN MANIAX - Frame Data
    </title>
</head>

<body>
    <header class="header">
        {% include 'top/site_header.html' %}
        {% include 'database/database_header.html'%}
    </header>
    <div class="contents_container">
        <div class="character_guide_container">
            <div class="character_guide_title">

            </div>

            <div class="character_guide_area">
                技作成
                <form method="post">
                    {% csrf_token %}
                    <table>
                    {{form.as_table}}
                </table>
                    <button type="submit">Create</button>
                </form>
            </div>
        </div>

</body>

</html>